@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --background-focused: 240 240 245;
  --foreground: 15 15 15;
  --muted-foreground: 88 88 88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 8 10 23;
    --background-focused: 47 47 47;
    --foreground: 245 245 245;
    --muted-foreground: 183 183 183;
  }
}
