@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --text-primary: 15 15 15;
  --focused: 240 240 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 8 10 23;
    --text-primary: 245 245 245;
    --focused: 47 47 47;
  }
}
